<!DOCTYPE html>
<html>
  <head>
    <title>Chat's Life</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <main>
      <div class="ui container">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
